:root {
    --themeColor1: #F6F6F6;
    --themeColor2: blue;
    --themeColor3: green;
  }

  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--themeColor1);
  }

  .genieContainer {
    width: 50%;
  }

  .textContainer {
    width: 40%;
    padding: 5%;
  }


  #nav-bar {
    max-height: 100%;
    background-color: #606060;
    text-align: center;
    border: black;
    border-style: solid 1px;
    
  }

  .pure-g div {
    box-sizing: border-box;
    padding-top: 5px;
    ;
  }

  

  div.vertical-line {
    width: 1px;
    background-color: white;
    height: 80%;
    float: left;
  }


  @media screen and (max-width: 480px) {
    .mainContainer {
      display: inline-block;
    }
    
    .genieContainer {
      /* margin: 0 auto; */
    }


    .textContainer {
      /* padding-left: 20%; */
      /* align-items: center; */
      margin: 0 auto;
    }

  }
