:root {
  --themeColor1: #F6F6F6;
  --themeColor2: #606060;
  --btnHover: #C4C4C4;
}

a,
footer {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 1.5%;
  border: none;
  border-radius: 5px;
  
  color: black;
}

button:hover {
  background-color: var(--btnHover);
  color: black;
}

#startBtn {
  background-color: var(--themeColor2);
  color: white;
}

#startBtn:hover {
  background-color: var(--btnHover);
  color: black;
}

#hide {
  display: none; 
}

.homeContainer,
.mainContainer,
.bodyContainer,
.mindContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--themeColor1);
  /* justify-items: center; */
}

.genieContainer {
  width: 35%;
  margin-left: 7%;
}

.textContainer {
  width: 40%;
  padding: 5%;
}

.bodyIcon,
.mainGenie,
.mindIcon {
  padding: 5%;
  text-align: center;
  /* justify-items: center; */
}

.bodyIcon {
  width: 10%;
}
.mainGenie {
  width: 25%;
}
.mindIcon {
  width: 15%;
}

.loadingGenie,
.loadingGenie2 {
  position: absolute;
  background-color: var(--themeColor1);
  width: 100%;
  text-align: center;
}

.fitnessIcon,
.foodIcon,
.musicIcon,
.triviaIcon {
  width: 50%;
  text-align: center;
  background-color: var(--themeColor1);
}










@media screen and (max-width: 480px) {
  .homeContainer {
    display: inline-block;
  }
  
  .textContainer {
      margin: 0 auto;
  }
}









/* Amina's CSS Code */

#nav-bar {
  max-height: 100%;
  background-color: #606060;
  text-align: center;
  border: black;
  border-style: solid 1px;
  
}

.pure-g div {
  box-sizing: border-box;
  }

div.vertical-line {
  width: 4px;
  background-color: white;
  height: 50px;
  float: left;
}

.pure-u-1-2 {
  height: 65px;
  font-size: x-large;
  padding: .5em;
}

.pure-button-nav {
  color: #606060;
}